h3 About me
br
img(src='http://arnog.github.io/ttwf/assets/web.png', alt='code', width='200', height='170')
br
p
  | I am a computer science student at Ryerson.  Some of my interests include: 
  
  ul
    li Soccer
    li Cricket
    li Web Development

| Some of the technologies I am interested in:
ul
  li React JS
  li Node JS
  li Express framework for Node JS
