extends parent.pug
block content
  -var current = 'contact'
  include navigation
     
  block content
   p 
    |#{text.a}
    hr
   p 
    |#{text.b}
    hr
   p 
    |#{text.c}
    hr
   p 
    |#{text.d}
    hr